<article class="article" id={id}>
  <div class="article__content">
    <h1>Console: API</h1>

    <p>
      console (in lowercase) is a special object with an API with some helpful methods.
    </p>

    <p>
      1. console.log is the most common popular method from API and can be used to print arbitrary messages (strings and variables
      separated by commas).
    </p>
    <p>
      2. console.table can print and array/list (e.g. people) of objects as a table, where each row is a single object (e.g. person),
      and each column an attribute of the object (name, age, etc).
    </p>

    <p>Both can be used to understand the structure of the data used by the app (e.g. AJAX responses).</p>

    <p>
      More info: <a href="https://developers.google.com/web/tools/chrome-devtools/console/console-reference">Console API
        Reference</a>
      and <a href="https://developers.google.com/web/tools/chrome-devtools/console/console-write">Diagnose and Log to Console</a>.</p>
  </div>

  <div class="article__media">
    <video src="/videos/console/api.m4v" loop controls muted></video>
  </div>
</article>