<article class="article" id={id}>
  <div class="article__content">
    <h1>Console: Open as a Drawer</h1>

    <p>
      In the previous example the back and forth between the different panels made it difficult to understand what was going on.
    </p>

    <p>In those cases is better to have the other Panel (Sources in this case) selected and open the Console as a separate
      drawer, so both can be used at the same time.</p>

    <p>
      Open <a href="/examples/console/stack-traces" target="_blank">this page.</a>
    </p>
    <p>
      1. Click on the first function of the stack trace, which will take you to the source file in the Sources Panel.
    </p>
    <p>
      2. Now hit ESC to make the console show up as a drawer on top of the Sources Panel. Now when you click each part of the stack
      trace you won't be redirected to the other panel.
    </p>
  </div>

  <div class="article__media">
    <video src="/videos/console/drawer.m4v" loop controls muted></video>
  </div>
</article>
