<article class="article" id={id}>
  <div class="article__content">
    <h1>Console: $0 - $4 (last five)</h1>

    <p>
      The console has a way to access the last five selected elements in the Elements Panel, to avoid having to query by selector
      on the console every time.
    </p>

    <p>
      If you type $0 on the console you'll get the last selected element. $1 - $4 reference second last, third last, ... till the
      five last element.
    </p>

    <p>Open <a href="/examples/console/form" target="_blank">this page</a> and try to make some quick selections with $0, $1 and $2 as shown in the video.</p>

    <p>More info: <a href="https://developers.google.com/web/tools/chrome-devtools/console/command-line-reference">Command Line Reference</a>.</p>
  </div>

  <div class="article__media">
    <video src="/videos/console/lastfive.m4v" preload="none" loop controls muted></video>
  </div>
</article>