<article class="article" id={id}>
    <div class="article__content">
      <h1>Console: Settings</h1>
  
      <p>
        There are a few optional settings you can enable for the console.
      </p>
  
      <p>
        1. Hide Network: Hides all network msgs, for example 404 errors (e.g. an image that cannot be found).
      </p>
      <p>
        2. Preserve Log: Keeps previously printed msgs on the console after refreshing the page.
      </p>
      <p>
        3. Selected Context Only: Show only msgs from your selected context (can be top, which is the current page, an iframe it page has any, a extension or a service worker).
      </p>
      <p>
        4. Log XMLHttpRequests: Shows a msg for each AJAX call made by the page.
      </p>
      <p>
        5. Eager Evaluation: Shows results of the Console as you type (without the need to hit enter).
      </p>
      <p>
        6. Autocomplete from history: As you type, previously entered commands are shown.
      </p>
  
      <p>More info: <a href="https://developers.google.com/web/tools/chrome-devtools/console/">Console Overview</a>.</p>
    </div>
  
    <div class="article__media">
      <video src="/videos/console/settings.m4v" loop controls muted></video>
    </div>
  </article>