<article class="article">
  <div class="article__content">
    <h1>Open Devtools</h1>

    <p>
      With the inspect panel of devtools you can see and modify the HTML and CSS applied to the page.
    </p>

    <p>Try cmd + alt/option + i (or j, or c) to open it.</p>
    <p>More info: <a href="https://developers.google.com/web/tools/chrome-devtools/shortcuts">Keyboard Shortcuts Reference</a>.</p>
  </div>

  <div class="article__media">
    <video src="videos/open-devtools.m4v" autoplay loop controls muted></video>
  </div>
</article>

<svelte:window on:keydown="checkHotkey(event)" />

<script>
  import localForage from "localforage";

  export default {
    methods: {
      checkHotkey(e) {
        const { id } = this.get();

        if (e.metaKey && e.altKey && (e.keyCode === 73 || e.keyCode === 74)) {
          const done = this.store.get().done;

          done[id] = true;

          this.store.set({
            done
          });

          localForage.setItem('done', done);
        }
      }
    }
  }
</script>